body {
    margin: 0% 4% 3% 4%;
    background-color: #E4EAF1;
    color: black;
    font-family: "Raleway";
    background-image: url("http://cdn.wallpapersafari.com/35/41/tu2vCh.jpg");
}

.pg-seal{
    max-height: 15%;
    max-width: 15%;
    float: left;
    margin-right: 2%;
    margin-bottom: 5px;
}
.pg-map{
    max-height: 25%;
    max-width: 25%;
    float: right;
    margin-right: 1%;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 25px;
}
hr {
    height:1px;
    border-top: 2px dotted black;
}

a {
    color: #0C3167;
}

a:hover {
    color: #6F1123;
}


.page-content {
    padding: 2%;
    background: white;
    border: 1px dotted #FF8C00;
}

.page-content p li {
    font-size: 120%;
}

.post-content {
}

.one-post {
    padding-left: 30px;
    text-align: center;

}

.post-row {
    padding-left: 30px;
}

blockquote {
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 5px solid #6F1123;
}

.blockquote-div{
    padding-top: 20px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 1.2em;
}

.navbar {
    background-color: black;
    margin-bottom: 0px
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #6F1123;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #6F1123;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: white;
}

.dropdown-menu>li>a {
    text-align: center;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #6F1123;
    }
    .pg-seal{
    max-height: 25%;
    max-width: 25%;
    float: left;
    margin-right: 1%;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
    }   
    .pg-map{
    max-height: 25%;
    max-width: 25%;
    float: right;
    margin-right: 1%;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
    }

}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
    float: none;
}

.navbar-toggle {
  width: 50%;
  float: none;
  margin-right: 0;
  color: white;
}

.navbar-default .navbar-toggle {
    border-color: #CA9206;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: #6F1123;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-menu>li>a {
    color: white;
}

.dropdown-menu>li>a:hover {
    background-color: #6F1123;
}

header {
    background-color: black;
}

header a {
    color: white;
}
