body {
    margin: 0% 3% 3% 3%;
    background-color: #E4EAF1;
    color: black;
    font-family: "Raleway";
    background-image: url("http://cdn.wallpapersafari.com/35/41/tu2vCh.jpg");
}

.image-background{
    background-image: url("http://cdn.wallpapersafari.com/35/41/tu2vCh.jpg");
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

a {
    color: #0C3167;
}

a:hover {
    color: #6F1123;
}


.page-content {
    padding: 10px;
    background: white;
    border: 1px dotted #FF8C00;
    padding: 10px;
}

.page-content p li {
    font-size: 120%;
}

.post-content {
}

.one-post {
    padding-left: 30px;
    text-align: center;

}

.post-row {
    padding-left: 30px;
}

blockquote {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blockquote-div{
    padding-top: 20px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 1.2em;
}

.line-separator {
    height:1px;
    border-bottom: 2px dotted black;
}

.navbar {
    background-color: black;
    margin-bottom: 0px
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #6F1123;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #6F1123;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: white;
}

.dropdown-menu>li>a {
    text-align: center;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #6F1123;
    }
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
    float: none;
}

.navbar-toggle {
  width: 50%;
  float: none;
  margin-right: 0;
  color: white;
}

.navbar-default .navbar-toggle {
    border-color: #CA9206;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: #6F1123;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-menu>li>a {
    color: white;
}

.dropdown-menu>li>a:hover {
    background-color: #6F1123;
}

header {
    background-color: black;
}

header a {
    color: white;
}