<div class="page-content">
<h3 class="text-center">Question D: What You Need to Know</h3>
<hr/>
    <div class="row post-row">
      <div class="col-sm-6">
        <h3>
          <a class="post-link" href="{{ "/what-is-question-d" | prepend: site.baseurl }}">What Is Question D?</a>
        </h3>
        <p tabindex="0">A question on the <time>Novermber 2016</time> ballot to create two new "At-Large" Council Seats that are exempt from the current term limits.</p>
      </div>

      <div class="col-sm-6">
        <h3>
          <a class="post-link" href="{{ "/why-were-against-question-d" | prepend: site.baseurl }}">Why We're Against Question D</a>
        </h3>
            <ul>
                <li tabindex="0"><p>It costs one million dollars a year to support two new council members</p></li>
                <li tabindex="0"><p>The At-large seats will be effectively owned by developers and wealthy special intrest groups because only they can afford to fund At-large campains</p></li>
                <li tabindex="0"><p>It will allow current country council members to bypass term limits</p></li>
          </ul>
      </div>
    </div>

    <div class="row post-row">
      <div class="col-sm-6">
        <h3>
            <a class="post-link" href="{{ "/who-is-behind-question-d" | prepend: site.baseurl }}">Who Is Behind Question D?</a>
        </h3>
        <p tabindex="0">Council members whose term limits are about to expire and wealthy development corporations who aren't satisfied with the current political situation</p>
      </div>

      <div class="col-sm-6">
        <h3>
            <a class="post-link" href="{{ "/debunking-myths" | prepend: site.baseurl }}">Debunking Myths</a>
        </h3>
        <p>Dessert pie pie ice cream. Lemon drops macaroon donut.</p>
      </div>
    </div>

    <div class="row post-row">
      <div class="col-sm-12">
        <h3>
            <a class="post-link" href="{{ "/how-did-this-happen" | prepend: site.baseurl }}">How did this happen?</a>
        </h3>
            <p tabindex="0">Question D was placed on the ballot despite public outcry and after a hearing in which only former council members and developers testified for the question.</p>
      <div>
    <div>

    <div class='row blockquote-div'>
      <div class="col-sm-12">
      <blockquote><h3 tabindex="0">The Washington Post called Question D "a jobs plan for Prince George's County council members"</h3><p><a class="btn btn-primary btn-lg" href="https://www.washingtonpost.com/opinions/a-jobs-plan-for-prince-georges-county-councilmembers/2016/07/29/9d73ec2a-5504-11e6-b7de-dfe509430c39_story.html?utm_term=.5e2f3a90e8bf">Read the op-ed</a></p></blockquote>
      </div>
    </div>
</div>

