<img class='flag' src= "https://lh4.ggpht.com/TK14R4ROGcYpmnM1SudWEbxcOEOWRyblxSB6EM6l6xGqJWb6urvJ2eHl4NYDml_Dkvw=h900"/>
<div class="page-content">
<img class='pg-seal' src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Seal_of_Prince_George's_County,_Maryland.svg/2000px-Seal_of_Prince_George's_County,_Maryland.svg.png">
<h3 class="text-center" tabindex="0">What Prince George's County Residents Need to Know</h3>
<hr>
    <div>
        <h3 tabindex="0">
          What Is Question D?
        </h3>
        <p tabindex="0">The County Council voted to place Question D on the ballot to create two new "At-Large" Council Seats that are exempt from the current term limits. Council members that are currently unable to run for re-election because their terms have expired will be able to run for the new seats to circumvent term limits.</p>
        <hr align='left'>
    </div>

    <div>
        <h3 tabindex="0">
          Why We're Against Question D
        </h3>
        <ul>
            <li tabindex="0">Two new seats will cost taxpayers more than $1 million per year.</p>
            <li tabindex="0">Because the great cost of running a Countywide campaign, Developers & Special Interests will fund At-Large candidates, and they will run on Senator & County Executive Slates. At-Large Council members will be responsive to the demands of their campaign funders and political patrons, NOT the People.</p>
            <img class='pg-map' src="http://www.homefinders.com/county_maps/maryland/maps/princegeorges1.gif">
            <li tabindex="0">Grassroots candidates for the People will be unable to compete with special interest candidates.</p>
            <li tabindex="0">Our District Council members, who are most responsive to local needs, will have their power diluted by almost 20%.</p>
            <li tabindex="0">At-Large members will interfere in local zoning cases to help their developer supporters.</p>
            <li tabindex="0">The County Council will be weakened versus the County Executive because it will take almost 3/4 of the members to override an Executive veto (instead on the current 2/3). This will undermine the Council’s Negotiating Power, and make it harder to perform its oversight function.</p>
            <li tabindex="0">Term limits occurred because citizens collected about 17,000 signatures to put the issue on the ballot. Question D is on the ballot because it only takes the vote of 6 Council members who want to keep their jobs to do so. The Council should respect the voters and not be so self-serving and arrogant to keep putting term limit questions on the ballot</p>
        </ul>
        <p tabindex="0">Question D is all about extending County Council careers by yielding power to special interests at the expense of the Public Interest.</p>
        <hr align='left'>
    </div>

    <div>
        <h3 tabindex="0">
            Who Is Behind Question D?
        </h3>
        <p tabindex="0">The County Council has long sought to overturn term limits. Council members fought hard against it in 1992, and they have led efforts to repeal or revise it in 2000, 2004 and 2014. Most Council members get too comfortable in the job and too close to special interests to want to give up the job. And, now that the Council salaries will pay about $120,000, most Council members will have trouble replacing this salary after their terms.</p>
        <p tabindex="0">For previous Questions, the County Council has used its power to influence special interests that have business before it to create fake citizen support groups and fund these groups. In 2014, the Council got special interests (with business before it) to fund at least $142,000 to support their Question I. These special interests expect to get zoning and site plan approvals, County contracts, or enhanced labor contracts for their political contributions. Question D and
        previous Questions have been dripping with pay-to-play implications.</p>
        <p tabindex="0"> Political bosses also support Question D because they expect to play kingmaker in selecting the winning candidates. These winners will then be beholden to the bosses.</p>
        <hr align='left'>
    </div>

    <div>
        <h3 tabindex="0">
            How did this happen?
        </h3>
            <p tabindex="0">The County Council rushed Question D through the legislative process so that citizens could not organize opposition. In mid-June, the bill appeared on the Council agenda with no advance notice, and a hearing was scheduled early July. Dozens of civic leaders testified against the proposal. The only testimony in favor came from people with relations with the County government ~ people who are beholden to the Council members.</p>
            <p tabindex="0">The Council ignored the overwhelming opposition from civic leaders and County voters, and voted to place Question D on the ballot, making a number of sanctimonious pronouncements about the "good of the County". The Council then voted to bury the Question in the middle of a series of popular Capital Bond questions hoping that voters will not recognize it. A couple of days later, Council leaders and political bosses appeared before the Democratic Central Committee with a high pressure assault on the members to get them to approve a "YES" recommendation on the Democratic Sample Ballot that will be distributed to voters at the polls.</p>
        <hr align='left'>
    </div>
    <div>
        <h3 tabindex="0">Proposed Amendment Language</h3>
        <p tabindex="0">To provide for the election of council members by district and at large, to change the composition of the County Council to a system of nine district members and two at large members, and to provide that a Council member who has been elected to two consecutive terms of office as a district member shall not serve more than two consecutive terms as an at-large member.</p>
        <hr align='left'>
    </div>
    <div class='blockquote-div'>
        <blockquote>
        <h4 tabindex="0">The Washington Post called Question D "a jobs plan for Prince George's County council members"</h4><p><a class="btn btn-primary btn-lg" href="https://www.washingtonpost.com/opinions/a-jobs-plan-for-prince-georges-county-councilmembers/2016/07/29/9d73ec2a-5504-11e6-b7de-dfe509430c39_story.html?utm_term=.5e2f3a90e8bf">Read the op-ed</a></p>
      </blockquote>
    </div>

</div>
</div>
