<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="noonquestiond.com" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Prince George's County Says No On Question D" />
    <meta property="og:description" content="Question D Will Cost Prince George's County Taxpayers $1 MILLION Each Year and Allows Councilmembers to Get Around Term Limits. Vote NO on Question D this November." />
    <meta property="og:image" content="http://noonquestiond.com/images/council.jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />


    <meta name="twitter:card" content="Vote NO on Question D in Prince George's County">
    <meta name="twitter:site" content="@noonquestiond">
    <meta name="twitter:title" content="Prince George's County residents stand against Question D which will cost taxpayers $1 million EACH year and allow County Council members to get around term limits.">
    <meta name="twitter:description" content="Question D in Prince George's County is all about extending County Council careers at the expense of taxpayers.">
    <meta name="twitter:image" content="http://noonquestiond.com/images/council.jpeg">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="{{ "/css/readable.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57d614e4c5558593"></script>
    <script type="text/javascript" src="{{ "/js/scripts.js" | prepend: site.baseurl }}"></script>
</head>
