<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    {% include content.html %}
    {% include footer.html %}

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57d614e4c5558593"></script>
	<script type="text/javascript">
		var addthis_share = addthis_share || {}
		addthis_share = {
			passthrough : {
				twitter: {
					text: "Vote NO on Question D, which adds 2 seats to the Prince George&#39;s County Council costing taxpayers $1 million/year"
				}
			}
		}
</script>

  </body>

</html>
